// Rules CSS
.content-restriction__rules {
    min-height: calc(70vh - 80px);
	padding: 30px 20px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
	  padding: 50px 25px 25px;
      &__title {
        font-size: 32px;
        font-weight: 700;
      }
	}
	&__list {
		background-color: #ffffff !important;
		padding: 40px;
		border-radius: var( --content-restriction-border-radius );
		width: 100%;
		border-spacing: unset;
		&__header {
			th {
				font-size: 14px;
				font-weight: 700;
				color: #000000;
				padding: 16px 5px !important;
				text-align: start;
				border-bottom: 2px solid #ccc;
				// &:last-child {
				// 	text-align: end;
				// 	padding-inline-end: 0;
				// }
				&:first-child {
					padding-inline-start: 0;
				}
			}
		}
	}
	
	&__body {
		td {
			height: 55px;
			padding: 16px 5px !important;
			font-size: 14px;
			font-weight: 400;
			color: #000000;
			box-sizing: border-box;
			border-bottom: 1px solid #ccc;
			&:last-child {
				justify-content: flex-end;
				padding-inline-end: 0;
			}
			&:first-child {
				padding-inline-start: 0;
			}
		}
		a {
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 14px;
			font-weight: 500;
			color: #000000;
			text-decoration: none;
			&:hover {
				color: var(--content-restriction-primary-color);
			}
		}
	}
	&__icon {
		display: flex;
		gap: 5px;
	}
	&__action {
		display: flex;
		gap: 20px;
		a {
			border: none;
			box-shadow: none;
			svg path {
				fill: var(--content-restriction-primary-color);
			}
		}
		.delete-btn {
			svg path {
				fill: var(--content-restriction-primary-color);
			}
		}
	}
}

 // Create Rules CSS
.content-restriction__create-rules {
    min-height: calc(90vh - 80px);
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-restriction__single { 
	position: relative;
	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		gap: 10px;
		width: 385px;
		font-size: 16px;
		font-weight: 700;
		padding: 12px 20px;
		color: #000000;
		border-radius: var( --content-restriction-border-radius );
		box-sizing: border-box;
		cursor: pointer;
		background-color: #ffffff;
		transition: all ease 0.3s;
		img {
			flex: 1;
			max-width: 25px;
			box-shadow: 0 0 3px #ddd;
			padding: 6px 8px;
			border-radius: var( --content-restriction-border-radius );
		}
		&__title {
			flex: 1;
			font-size: 16px;
			margin: 0;
		}
		&__action {
			text-align: end;
			height: 100%;
		}
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
		}
		&.disabled {
			pointer-events: none;
			opacity: 0.5;
		}
		&__dropdown {
			position: absolute;
			inset-inline-start: 100%;
			top: 0;
			width: 125px;
			margin: 0;
			z-index: 1;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-10px);
			transition: all ease 0.3s;
			box-shadow: 0 0 15px #00000015;
			&.active {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
			&__item {
				margin: 0;
				cursor: auto;
			}
			&__btn {
				width: 100%;
				padding: 8px 25px;
				font-size: 14px;
				color: #000000;
				background-color: #ffffff;
				transition: all ease 0.3s;
				&:hover {
					box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
				}
				&.disabled {
					pointer-events: none;
					color: #95928e;
				}
				&--delete {
					color: #f5f5f5;
					background-color: var(--content-restriction-primary-color);
					padding: 12px 25px;
					border-radius: var( --content-restriction-border-radius );
					&:hover {
						background-color: var(--content-restriction-primary-color);
					}
				}
			}
		}
	}
	&:before {
		content: "Then Unlock";
		position: absolute;
		top: calc(100% + 28px);
		left: 50%;
		transform: translateX(calc(-50% + 1px));
		width: 200px;
		height: 20px;
		// background: #f9f9f9;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		font-size: 15px;
	}
	&:nth-child(2):before {
		content: "Otherwise, Restrict Using";
	}
	&:after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 2px;
		height: 70px;
		border-right: 2px dashed rgb(215, 213, 210);
	}
	&:last-child {
		&:after,
		&:before {
		display: none;
		}
	}
}

.content-restriction__modal {
	pointer-events: none;
	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 2;
		opacity: 0;
		transition: opacity 0.5s;
	}
	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		display: flex;
		flex-direction: column;
		border-radius: var( --content-restriction-border-radius );
		max-width: 1000px;
		max-height: 550px;
		opacity: 0;
		z-index: 2;
		transform: translate(-50%, -50%) scale(0.9);
		transition:
		opacity 0.3s,
		transform 0.5s;
		&__title {
			margin: 10px 0px;
		}
		&__desc {
			margin-bottom: 0;
		}
		&__header {
			display: flex;
			gap: 20px;
			justify-content: space-between;
			background: rgb(31, 49, 33);
			padding: 20px;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 1;
			box-sizing: border-box;
		&__info {
			display: flex;
			gap: 10px;
			align-items: center;
			.info-icon {
				padding: 10px;
				background: #ffffff;
				border-radius: var( --content-restriction-border-radius );
			}
		}
		&__action {
			display: flex;
			gap: 10px;
			align-items: center;
			&__btn {
				display: flex;
				gap: 10px;
				align-items: center;
				justify-content: center;
				white-space: nowrap;
				font-size: 14px;
				font-weight: 500;
				padding: 10px 25px;
				color: #ffffff;
				text-decoration: none;
				background-color: transparent;
				border-radius: var( --content-restriction-border-radius );
				border: 1px solid #ffffff;
				transition: all ease 0.3s;
					&:hover {
						color: #000000;
						border-color: #ffffff;
						background-color: #ffffff;
					}
				}
			}
		}
		&__title {
			font-size: 24px;
			font-weight: 700;
			color: #ffffff;
		}
		&__desc {
			font-size: 14px;
			font-weight: 400;
			color: #ffffff;
		}
		&__btn {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 25px;
			border-radius: var( --content-restriction-border-radius );
			color: #000000;
			background-color: #ffffff;
			cursor: pointer;
		}
		&__close-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
			font-size: 20px;
			border-radius: 50%;
			color: #ffffff;
			cursor: pointer;
		}
		&__body {
			font-size: 16px;
			font-weight: 400;
			color: #000000;
			background: #ffffff;
		}
		&__wrapper {
			display: flex;
			align-items: flex-start;
		}
	}
	&--visible {
		pointer-events: initial; /* Modal is clickable */
		.content-restriction__modal__overlay,
		.content-restriction__modal__content {
			opacity: 1;
		}
		.content-restriction__modal__content {
			opacity: 1;
			transform: translate(-50%, -50%) scale(1);
		}
	}
}

.content-restriction__module {
    display: flex;
    flex: 1;
    gap: 15px;
	flex-wrap: wrap;
	padding: 0 15px;
}

.content-restriction__group {
	display: flex;
	gap: 6px;
	flex-direction: column;
	width: 200px;
	margin: 0;
	position: absolute;
    left: 15px;
    top: 123px;
    height: 100%;
	~ .content-restriction__type {
		padding-left: 215px;
		.content-restriction__type__item {
			flex: 0 0 32.8%;
			max-width: 33%;
		}
	}
	@media screen and (max-width: 768px) {
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}
	&__item {
		margin: 0;
	}
	&__btn {
		width: 100%;
		padding: 10px 15px;
		background-color: rgb(230, 230, 230);
		border-radius: 6px;
		transition: all ease 0.3s;
		&.active,
		&:hover {
			background-color: rgb(31, 49, 33);
			color: #ffffff;
		}
	}
}

// Action Type CSS
.content-restriction__type {
    display: flex;
    gap: 5px;
	flex: 1;
    align-items: center;
    flex-wrap: wrap;
	margin: 0px;
	max-height: 550px;
    min-height: 360px;
    padding: 123px 0 15px;
	box-sizing: border-box;
    overflow-y: auto;
	scrollbar-width: thin;
    &__item {
      margin: 0;
      flex: 0 0 32.84%;
	  max-width: 32.84%;
	}
	.pro-item .pro-badge {
		position: absolute;
		text-align: right;
		right: 15px;
		padding: 3px 8px;
		font-size: 12px;
	}
	.pro-item .upcoming-badge {
		position: absolute;
		text-align: right;
		right: 15px;
		background: #93003f;
		color: #fff;
		border-radius: 100px;
		padding: 3px 8px;
		font-size: 12px;
	}
	.pro-item .upcoming-badge {
		background: #ecfdf5;
		color: #047857;
	}
	.pro-item {
		position: relative;
    }
    &__btn {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      align-items: center;
      white-space: nowrap;
      font-size: 15px;
      font-weight: 600;
      padding: 15px;
      color: #000000;
      border-radius: var( --content-restriction-border-radius );
      border: 1px solid transparent;
      transition: all ease 0.3s;
      border-color: rgb(230, 230, 230);
      min-height: 205px;
      align-content: baseline;
	  flex-flow: column;
      h3 {
        font-size: 1.1em;
      }
      img {
        max-width: 40px;
        padding: 2px;
        margin-right: 5px;
        border-radius: var( --content-restriction-border-radius );
      }
      span {
        font-weight: 400;
        white-space: normal;
        text-align: center;
        line-height: 1.6;
        // width: 100%;
      }
      &:hover {
        border-color: rgb(209, 205, 205);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 5px
      }
    }
}

// Sidebar CSS
.content-restriction__sidebar {
    pointer-events: none;
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.5s;
    }
    &__content {
      position: absolute;
      top: 70px;
      right: 0;
      padding: 15px 0;
      background: #ffffff;
      height: calc(90vh - 80px);
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-radius: var( --content-restriction-border-radius );
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
      z-index: 1;
	  overflow-y: auto;
      opacity: 0;
      transform: translateX(50px);
      transition:
        opacity 0.3s,
        transform 0.5s;

      &__header {
        display: flex;
        gap: 20px;
        padding: 0 20px;
      }
      &__title {
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: #000000;
        margin: 0;
      }
      &__btn {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding: 8px 20px;
        height: 40px;
        color: #1d2327;
        background-color: transparent;
        border: 1.5px solid rgba(0, 0, 0, 0.05);
        border-radius: var( --content-restriction-border-radius );
        transition: all ease 0.3s;
        &:hover {
          color: #ffffff;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
      &__close-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-size: 20px;
        border-radius: 50%;
        color: #000000;
        cursor: pointer;
      }

      &__body {
        font-size: 16px;
        font-weight: 400;
        color: #000000;
      }
    }

    &--visible {
      pointer-events: initial; /* Sidebar is clickable */
      .content-restriction__sidebar__overlay,
      .content-restriction__sidebar__content {
        opacity: 1;
      }
      .content-restriction__sidebar__content {
        opacity: 1;
        transform: translateX(0);
      }
    }

    &__tab {
      display: flex;
      flex-direction: column;
      &__header {
        margin: 0;
        padding: 0 20px;
        border: none;
        border-bottom: 2px solid #e8e7e4;
        background: transparent !important;
      }
      &__content {
        padding: 20px;
        border-top: 1.5px solid #000;
        &__event {
          margin: 20px 0 0;
          &__desc {
            font-size: 16px;
            line-height: 2;
          }
          &__title {
            font-size: 20px;
            line-height: 26px;
            font-weight: 400;
            color: #000000;
            margin: 0;
          }
          &__wrapper {
            position: relative;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            margin: 20px 0 0;
            flex-direction: column;
          }
          &__section-wrapper {
            display: flex;
            gap: 10px;
            flex-direction: column;
          }
          &__btn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 60px;
            width: 100%;
            font-size: 16px;
            padding: 8px 20px;
            color: #000000;
			border-radius: var( --content-restriction-border-radius );
            cursor: pointer;
            background-color: transparent;
            border: 2px solid #95928e;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
            transition: all ease 0.3s;
            &:hover {
              border-color: var(--content-restriction-primary-color);
            }
          }

          &__dropdown {
            position: absolute;
            right: 0;
            top: 100%;
            width: 100%;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: all ease 0.3s;
            background-color: #ffffff;
            border: 1px solid #95928e;
            &.active {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
              .content-restriction__sidebar__tab__content__event__dropdown__btn {
                pointer-events: auto;
              }
            }
            &__item {
              margin: 0;
            }
            &__btn {
              width: 100%;
              padding: 8px 25px;
              text-align: left;
              color: #000000;
              background-color: transparent;
              pointer-events: none;
              transition: all ease 0.3s;
              &:hover {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
              }
            }
          }
        }
      }

      .react-tabs__tab {
        margin: 0;
        color: #444444;
        background: transparent;
        border: none;
        border-bottom: 2px solid transparent;
        width: 100%;
        box-sizing: border-box;
        &:after {
          display: none;
        }
        &.react-tabs__tab--selected {
          color: #000000;
          font-weight: 700;
          border-color: #000000;
        }
      }
    }
}